/* @mixin font-base {
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-weight: 600;
} */

body {
    margin: 0;
}

h4 {
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-weight: 600;
}

p {
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-weight: 600;
    color: grey;
    font-size: 0.7rem;
}

.container {
    width: 560px;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}

header,
section {
    position: fixed;
    text-align: center;
    width: 560px;
    
}

header {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(165, 199, 238),#fff);
}

section {
    top: 65px;
    background-color: #fff;
}

.iframe {
    border-radius: 4px;
}

.logo {
    width: 100px;
    padding: 10px;
}

.logo-text{
    font-size:2.4rem;
    font-weight: 600;
    font-family: monospace;
    padding: 0 10px;
    color:dodgerblue;
}


main {
    padding: 385px 18px 10px;
}

article {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 8px;
    margin: 0 auto;
}

article:hover {
    border: 2px solid #ff9999;
    cursor: pointer;
}

.thumb {
    height: 70px;
    border-radius: 4px;
}

.details {
    padding: 8px 22px;
}

.btn {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: #fff;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.select {
    height: 30px;
    width: 150px;
    border-radius: 4px;
}


@media screen and (max-width:768px){
    .logo-text{
        font-size: .5rem;
    }

    .select {
        width: 100px;
    }
}
