/* @mixin font-base {
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-weight: 600;
} */

body {
    margin: 0;
}

h4 {
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-weight: 600;
}

p {
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-weight: 600;
    color: grey;
    font-size: 0.7rem;
}

.container {
    width: 560px;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}

header,
section {
    position: fixed;
    text-align: center;
    width: 560px;
    background-color: #fff;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
}

section {
    top: 50px;
}

.iframe {
    border-radius: 4px;
}

.logo {
    width: 120px;
    padding: 10px;
}

main {
    padding: 370px 18px 10px;
}

article {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 8px;
    margin: 0 auto;
}

article:hover {
    border: 2px solid #ff9999;
}

.thumb {
    height: 70px;
    border-radius: 4px;
}

.details {
    padding: 8px 22px;
}

.btn {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: #fff;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.select {
    height: 30px;
    width: 150px;
    border-radius: 4px;
}

footer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    bottom: 0;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 20px;
}